<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; background: #2b3e50; margin: 0; padding: 0;" bgcolor="#2b3e50"><style type="text/css">
    a:hover {
        color: #2795b6 !important;
    }
    a:active {
        color: #2795b6 !important;
    }
    a:visited {
        color: #2ba6cb !important;
    }
    h1 a:active {
        color: #2ba6cb !important;
    }
    h2 a:active {
        color: #2ba6cb !important;
    }
    h3 a:active {
        color: #2ba6cb !important;
    }
    h4 a:active {
        color: #2ba6cb !important;
    }
    h5 a:active {
        color: #2ba6cb !important;
    }
    h6 a:active {
        color: #2ba6cb !important;
    }
    h1 a:visited {
        color: #2ba6cb !important;
    }
    h2 a:visited {
        color: #2ba6cb !important;
    }
    h3 a:visited {
        color: #2ba6cb !important;
    }
    h4 a:visited {
        color: #2ba6cb !important;
    }
    h5 a:visited {
        color: #2ba6cb !important;
    }
    h6 a:visited {
        color: #2ba6cb !important;
    }
    table.button:hover td {
        background: #b15315 !important;
    }
    table.button:visited td {
        background: #b15315 !important;
    }
    table.button:active td {
        background: #b15315 !important;
    }
    table.button:hover td a {
        color: #fff !important;
    }
    table.button:visited td a {
        color: #fff !important;
    }
    table.button:active td a {
        color: #fff !important;
    }
    table.button:hover td {
        background: #b15315 !important;
    }
    table.tiny-button:hover td {
        background: #b15315 !important;
    }
    table.small-button:hover td {
        background: #b15315 !important;
    }
    table.medium-button:hover td {
        background: #b15315 !important;
    }
    table.large-button:hover td {
        background: #b15315 !important;
    }
    table.button:hover td a {
        color: #ffffff !important;
    }
    table.button:active td a {
        color: #ffffff !important;
    }
    table.button td a:visited {
        color: #ffffff !important;
    }
    table.tiny-button:hover td a {
        color: #ffffff !important;
    }
    table.tiny-button:active td a {
        color: #ffffff !important;
    }
    table.tiny-button td a:visited {
        color: #ffffff !important;
    }
    table.small-button:hover td a {
        color: #ffffff !important;
    }
    table.small-button:active td a {
        color: #ffffff !important;
    }
    table.small-button td a:visited {
        color: #ffffff !important;
    }
    table.medium-button:hover td a {
        color: #ffffff !important;
    }
    table.medium-button:active td a {
        color: #ffffff !important;
    }
    table.medium-button td a:visited {
        color: #ffffff !important;
    }
    table.large-button:hover td a {
        color: #ffffff !important;
    }
    table.large-button:active td a {
        color: #ffffff !important;
    }
    table.large-button td a:visited {
        color: #ffffff !important;
    }
    table.secondary:hover td {
        background: #d0d0d0 !important; color: #555;
    }
    table.secondary:hover td a {
        color: #555 !important;
    }
    table.secondary td a:visited {
        color: #555 !important;
    }
    table.secondary:active td a {
        color: #555 !important;
    }
    table.success:hover td {
        background: #457a1a !important;
    }
    table.alert:hover td {
        background: #970b0e !important;
    }
    table.facebook:hover td {
        background: #2d4473 !important;
    }
    table.twitter:hover td {
        background: #0087bb !important;
    }
    table.google-plus:hover td {
        background: #CC0000 !important;
    }
    @media only screen and (max-width: 600px) {
        table[class="body"] img {
            width: auto !important; height: auto !important;
        }
        table[class="body"] center {
            min-width: 0 !important;
        }
        table[class="body"] .container {
            width: 95% !important;
        }
        table[class="body"] .row {
            width: 100% !important; display: block !important;
        }
        table[class="body"] .wrapper {
            display: block !important; padding-right: 0 !important;
        }
        table[class="body"] .columns {
            table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
        }
        table[class="body"] .column {
            table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
        }
        table[class="body"] .wrapper.first .columns {
            display: table !important;
        }
        table[class="body"] .wrapper.first .column {
            display: table !important;
        }
        table[class="body"] table.columns td {
            width: 100% !important;
        }
        table[class="body"] table.column td {
            width: 100% !important;
        }
        table[class="body"] .columns td.one {
            width: 8.333333% !important;
        }
        table[class="body"] .column td.one {
            width: 8.333333% !important;
        }
        table[class="body"] .columns td.two {
            width: 16.666666% !important;
        }
        table[class="body"] .column td.two {
            width: 16.666666% !important;
        }
        table[class="body"] .columns td.three {
            width: 25% !important;
        }
        table[class="body"] .column td.three {
            width: 25% !important;
        }
        table[class="body"] .columns td.four {
            width: 33.333333% !important;
        }
        table[class="body"] .column td.four {
            width: 33.333333% !important;
        }
        table[class="body"] .columns td.five {
            width: 41.666666% !important;
        }
        table[class="body"] .column td.five {
            width: 41.666666% !important;
        }
        table[class="body"] .columns td.six {
            width: 50% !important;
        }
        table[class="body"] .column td.six {
            width: 50% !important;
        }
        table[class="body"] .columns td.seven {
            width: 58.333333% !important;
        }
        table[class="body"] .column td.seven {
            width: 58.333333% !important;
        }
        table[class="body"] .columns td.eight {
            width: 66.666666% !important;
        }
        table[class="body"] .column td.eight {
            width: 66.666666% !important;
        }
        table[class="body"] .columns td.nine {
            width: 75% !important;
        }
        table[class="body"] .column td.nine {
            width: 75% !important;
        }
        table[class="body"] .columns td.ten {
            width: 83.333333% !important;
        }
        table[class="body"] .column td.ten {
            width: 83.333333% !important;
        }
        table[class="body"] .columns td.eleven {
            width: 91.666666% !important;
        }
        table[class="body"] .column td.eleven {
            width: 91.666666% !important;
        }
        table[class="body"] .columns td.twelve {
            width: 100% !important;
        }
        table[class="body"] .column td.twelve {
            width: 100% !important;
        }
        table[class="body"] td.offset-by-one {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-two {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-three {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-four {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-five {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-six {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-seven {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-eight {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-nine {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-ten {
            padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-eleven {
            padding-left: 0 !important;
        }
        table[class="body"] table.columns td.expander {
            width: 1px !important;
        }
        table[class="body"] .right-text-pad {
            padding-left: 10px !important;
        }
        table[class="body"] .text-pad-right {
            padding-left: 10px !important;
        }
        table[class="body"] .left-text-pad {
            padding-right: 10px !important;
        }
        table[class="body"] .text-pad-left {
            padding-right: 10px !important;
        }
        table[class="body"] .hide-for-small {
            display: none !important;
        }
        table[class="body"] .show-for-desktop {
            display: none !important;
        }
        table[class="body"] .show-for-small {
            display: inherit !important;
        }
        table[class="body"] .hide-for-desktop {
            display: inherit !important;
        }
        table[class="body"] .right-text-pad {
            padding-left: 10px !important;
        }
        table[class="body"] .left-text-pad {
            padding-right: 10px !important;
        }
    }
</style>
<table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #2b3e50; margin: 0; padding: 0;" bgcolor="#2b3e50"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="center" align="center" valign="top" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #2b3e50; margin: 0; padding: 0;" bgcolor="#2b3e50">
            <center style="width: 100%; min-width: 580px;">
                <table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #2b3e50; margin: 0; padding: 0;" align="left" bgcolor="#2b3e50" valign="top">

                            <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #2b3e50; margin: 0; padding: 10px 0px 0px;" align="left" bgcolor="#2b3e50" valign="top">

                                        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #2b3e50; margin: 0; padding: 0px 0px 10px;" align="left" bgcolor="#2b3e50" valign="top">
                                                    <h1 style="color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 40px; background: #2b3e50; margin: 0; padding: 0;" align="left">Anaoh</h1>
                                                    <p class="lead" style="color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; background: #2b3e50; margin: 0 0 10px; padding: 0;" align="left">Appointment Summary</p>
                                                    <p style="color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; background: #2b3e50; margin: 0 0 10px; padding: 0;" align="left">
                                                        Hi <?=$user->name?>,<br><br>
                                                        We thank you for your concern towards the script!<br><br>
                                                    </p>
                                                    <p style="color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 12px; background: #2b3e50; margin: 0 0 10px; padding: 0;" align="left">
                                                        Please Find details below:<br>
                                                        <span style="font-weight: bold">Appointment Time: </span> <?=$appointment->date?><br>
                                                        <span style="font-weight: bold">Script: </span> <?=$appointment->Product->title?><br><br>
                                                        ---<br><br>
                                                    </p>

                                                </td>
                                                <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #ebebeb; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #2b3e50; margin: 0; padding: 0;" align="left" bgcolor="#2b3e50" valign="top"></td>
                                            </tr></table></td>
                                </tr></table><!-- container end below --></td>
                    </tr></table></center>
        </td>
    </tr></table></body>
</html>
